.shop{
  color:white;
  position: relative;
  bottom:800px;
  left:200px;
}

.wallpaper{
  background-position: center;
}

.cart {
  margin: 10px;
  padding: 10px;
}

.cart-item-image {
  width: 8%;
  height: auto;
}

.carousel-control-prev-icon {
  background-color: darkgray;
}

.carousel-control-next-icon {
  background-color: darkgray;
}

.carousel-item {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}